.u-container {
  width: 80%;
  margin: 0 auto;
}

.u-text-center {
  text-align: center;
}
.u-text-left {
  text-align: left;
}
.u-margin-bottom-5 {
  margin-bottom: 5rem;
}
.u-margin-bottom-1 {
  margin-bottom: 1rem;
}
