.header {
  backface-visibility: hidden;
  position: relative;
  height: 95vw;
  background-color: red;
  background-image: linear-gradient(
      to bottom right,
      rgba($color-primary-light, 0.508),
      rgba($color-primary-dark, 0.508)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vw, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vw, 0 100%);

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
  &__logo {
    height: 4rem;
  }

  &__text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
